.nav-link {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid blueviolet;
}

ul li a.active {
    font-weight: 600;
    color: rgb(16, 19, 202);
    letter-spacing: 2px;
}
