h1,h2{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 60px auto;
    width: 35%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

input {
    width: 350px;
    height: 40px;
}

.btn {
    padding: 10px 30px;
}
